<p>
  <strong><%= @timelog.event %></strong> <i>at</i> <%= @timelog.time %>
  <% if @category %>
    <%= link_to @category.name, category_path(@category) %>  
  <% else %>
    <strong>category not found </strong>
  <% end %>
</p>

<%= link_to 'Back', timelogs_path %>
